:root {
	/* Primary */
	--blue: hsl(246, 80%, 60%);
	--light-red-work: hsl(15, 100%, 70%);
	--soft-blue-play: hsl(195, 74%, 62%);
	--light-red-study: hsl(348, 100%, 68%);
	--lime-green-exercise: hsl(145, 58%, 55%);
	--violet-social: hsl(264, 64%, 52%);
	--soft-orange-self-care: hsl(43, 84%, 65%);

	/* Neutral */
	--very-dark-blue: hsl(226, 43%, 10%);
	--dark-blue: hsl(235, 46%, 20%);
	--desaturated-blue: hsl(235, 45%, 61%);
	--pale-blue: hsl(236, 100%, 87%);

	--bor-rad: 15px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	min-height: 100vh;
}

body {
	font-family: "Rubik", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--very-dark-blue);
	margin: 5rem 1rem;
}

main {
	display: flex;
	flex-direction: column;
	grid-gap: 30px;
}

img {
	max-width: 100%;
}

.card {
	background-color: var(--dark-blue);
	border-radius: var(--bor-rad);
	overflow: hidden;
	color: white;
}

.card.user {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card.user .info {
	padding: 1.5rem;
	background-color: var(--blue);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--bor-rad);
}

.card.user .info img {
	border-radius: 100%;
	border: solid white 3px;
	margin-right: 1rem;
}

.card.user .info h1 {
	font-size: 1.22rem;
	font-weight: 400;
}

.card.user .info div {
	font-weight: 400;
	font-size: 0.75rem;
	color: var(--pale-blue);
}

.card.user ul {
	color: var(--desaturated-blue);
	margin: 0;
	padding: 1rem;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.card.user ul li {
	display: inline-block;
	cursor: pointer;
}

.card.user ul li:hover {
	color: white;
}

.card.user ul li:active {
	color: white;
}

.card:not(.user) {
	max-width: 305px;
	max-height: 150px;
}

.card.work {
	background: rgb(0, 0, 0);
	background: linear-gradient(0deg, hsl(235, 46%, 20%) 0%, hsl(15, 100%, 70%) 45%);
	position: relative;
}

.card.play {
	background: rgb(0, 0, 0);
	background: linear-gradient(0deg, hsl(235, 46%, 20%) 0%, var(--soft-blue-play) 45%);
}

.card.study {
	background: rgb(0, 0, 0);
	background: linear-gradient(0deg, hsl(235, 46%, 20%) 0%, var(--light-red-study) 45%);
}

.card.exercise {
	background: rgb(0, 0, 0);
	background: linear-gradient(0deg, hsl(235, 46%, 20%) 0%, var(--lime-green-exercise) 45%);
}

.card.social {
	background: rgb(0, 0, 0);
	background: linear-gradient(0deg, hsl(235, 46%, 20%) 0%, var(--violet-social) 45%);
}

.card.self-care {
	background: rgb(0, 0, 0);
	background: linear-gradient(0deg, hsl(235, 46%, 20%) 0%, var(--soft-orange-self-care) 45%);
}

.card .img_wrapper {
	max-height: 35px;
	width: 100%;
	overflow: hidden;
}

.card .img_wrapper img {
	display: block;
	margin-left: auto;
	mix-blend-mode: darken;
	margin-right: 0.8rem;
	transform: translateY(-15%);
}

.card .stats {
	width: 100%;
	padding: 1rem;
	background-color: var(--dark-blue);
	border-radius: var(--bor-rad);
}

.card .stats .title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card .stats .title img {
	cursor: pointer;
}

.card .stats .title h2 {
	font-size: 1rem;
	font-weight: 500;
}

.card .stats .hours {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 0.5rem;
}

.card .stats .hours h3 {
	font-size: 2rem;
	font-weight: 300;
}

.card .stats .hours h4 {
	font-size: 0.875rem;
	font-weight: 400;
	color: var(--pale-blue);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (min-width: 1440px) {
	body {
		margin: 0;
	}

	main {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr 1fr;
		max-width: 1110px;
		max-height: 515px;
		grid-gap: 30px;
		/* align-items: center; */
	}

	.card.user {
		justify-content: flex-start;
	}

	.card.user .info {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 2.25rem;
	}

	.card.user .info h1 {
		font-size: 2.4375rem;
		line-height: 1.2;
		font-weight: 300;
		margin: 2rem 0 4rem 0;
	}

	.info div {
		font-size: 0.9375rem;
		margin-bottom: 0.2rem;
	}

	.card.user ul {
		height: 100%;
		padding: 2rem 2.25rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.card.user ul li {
		display: block;
		font-size: 1.125rem;
	}

	.card.user {
		grid-row: 1/3;
		grid-column: 1;
	}

	.card:not(.user) {
		max-height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.card .stats {
		height: 100%;
		padding: 2.25rem;
	}

	.card .stats .title {
		margin-bottom: 2rem;
	}

	.card .stats .hours {
		display: initial;
	}

	.card .stats .hours h3 {
		margin-bottom: 0.7rem;
		font-size: 3rem;
	}

	.card .stats .hours h4 {
		font-size: 0.875rem;
	}

	.card.work,
	.card.exercise {
		grid-column: 2;
	}

	.card.play,
	.card.social {
		grid-column: 3;
	}

	.card.study,
	.card.self-care {
		grid-column: 4;
	}

	.card.work,
	.card.play,
	.card.study {
		grid-row: 1;
	}

	.card.exercise,
	.card.social,
	.card.self-care {
		grid-row: 2;
	}
}
